<p>Hi <%= username %>,</p>
<p>Your forgot password code (⏱️ it's only valid for 2 minutes):</p>
<p class="code">
  <%= code %>
</p>
<p>Please don't hesitate to contact me in case you need any help!</p>
<p>- Trần Nhật Kỳ, Yasuo API - Yasuo Shop admin</p>